<div class="content">
    {% if site.front_img %}
    <img src="{{ site.front_img_path }}" id="fullscreen">
    {% endif %}

    {% if site.avatar %}
        <img src="{{ site.avatar_img_path }}" id="avatar">
    {% endif %}

    <h1>{{ site.name }}</h1>
    <h3>{{ site.description }}</h3>

        <ul>
            {% if site.facebook_username %}
            <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ site.facebook_username }}" target="blank"><span class="description">Facebook</span></a></li>
            {% endif %}

            {% if site.twitter_username %}
            <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ site.twitter_username }}" target="blank"><span class="description">Twitter</span></a></li>
            {% endif %}
            
            {% if site.you_tube_username %}
            <li><a class="fa fa-2x fa-youtube-play" href="https://www.youtube.com/{{ site.you_tube_username }}" target="blank"><span class="description">Youtube</span></a></li>
            {% endif %}

            {% if site.google_plus_username %}
            <li><a class="fa fa-2x fa-google-plus" href="https://plus.google.com/+{{ site.google_plus_username }}" target="blank"><span class="description">Google +</span></a></li>
            {% endif %}

            {% if site.linkedin_username %}
            <li><a class="fa fa-2x fa-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}" target="blank"><span class="description">LinkedIn</span></a></li>
            {% endif %}

            {% if site.instagram_username %}
            <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}" target="blank"><span class="description">Instagram</span></a></li>
            {% endif %}

            {% if site.blog_url %}
            <li><a class="fa fa-2x fa-tags" href="{{ site.baseurl }}{{ site.blog_url }}"><span class="description">Blog</span></a></li>
            {% endif %}

            {% if site.email %}
            <li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}"><span class="description">Email</span></a></li>
            {% endif %}

        </ul>
</div>
